<div class="panel panel-default">
  <div class="panel-body">

    <!-- Image -->
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photos[0].image.url(), class: "img-responsive" %>
      </div>
    </div>

    
  </div>
</div>
